{% extends 'userAdmin/verifyUsers.html' %}



{% block unchecked_users  %}
    <p> HOLA </p>
    {% for user_dict in unchecked_users %}
        {% for key, value in user_dict.items() %}
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            <div class="w-100 h-200 px-3 d-flex flex-column justify-content-center border border-left-0" style="height: 50px; width: auto;">
                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold">{{ user_dict.username}}</a>
                <p> NIF: {{ user_dict.nif }}</p>
                <form action="/process_verification" method="post">
                    <input type="hidden" name="user_id" value="{{ user_dict.id }}">
                    <input type="hidden" name="action" value="accept">
                    <input type="submit" value="Aceptar" class="btn btn-primary" style="width: 100px; color: green;">
                    <input type="submit" value="Denegar" class="btn btn-primary" style="width: 100px; color: red;">
                    <!-- el botón denegar no hace nada, pero se puede implementar en el futuro -->

                    <!-- Script que envia "deny" si es denegar y "accept" si es aceptar -->
                    <script>
                        function setAction(event) {
                            var acceptButton = document.querySelector('input[value="Aceptar"]');
                            var denyButton = document.querySelector('input[value="Denegar"]');
                            var actionInput = document.getElementById('action');

                            if (acceptButton && denyButton && actionInput) {
                                if (acceptButton.clicked) {
                                    actionInput.value = 'accept';
                                } else if (denyButton.clicked) {
                                    actionInput.value = 'deny';
                                }
                            }
                            return true;
                        }
                    </script>
                </form>
            </div>
        </div>
        {% endfor %}
    {% endfor %}

{% endblock %}



