{% extends 'categorias.html' %}


{% block noticia_primera %}
{% for url in data.urls %}
{% set index = loop.index0 %}
<div class="position-relative overflow-hidden" style="height: 300px;">
    <div style=" height: 100%;" !important>
        <img class="img-fluid" src="{{data.imgs[index]}}" href="{{url}}" style="width: 100%;" />
    </div>

    <div class="overlay">
        <div class="mb-2">
            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                href="">{{ data.categories[index] }}</a>
            <a class="text-white" href=""><small>{{data.dates[index]}}</small></a>
        </div>
        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{{url}}">{{data.titles[index]}}</a>
    </div>
</div>
{% endfor %}
{% endblock %}