{% extends 'index.html' %}


{% block primera_noticia %}
<div class="carousel-item active" style="height: 500px;">
    <a href="{{ data.urls[0] }}">
        <img class="img-fluid w-100" src="{{ data.imgs[0] }}" style="object-fit: cover;">
    </a> 
    <div class="overlay">
        <div class="mb-2">
            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                href="">{{ data.categories[0] }}</a>
            <a class="text-white" href="">{{data.dates[0]}}</a>
        </div>
        <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{{ data.urls[0] }}">{{ data.titles[0] }}</a>
    </div>
</div>
{% endblock %}

{% block segunda_noticia %}
<div class="carousel-item" style="height: 500px;">
    <a href="{{ data.urls[1] }}">
        <img class="img-fluid w-100" src="{{ data.imgs[1] }}" style="object-fit: cover;">
    </a>
    
    <div class="overlay">
        <div class="mb-2">
            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                href="">{{ data.categories[1] }}</a>
            <a class="text-white" href="">{{ data.dates[1] }}</a>
        </div>
        <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{{ data.urls[1] }}">{{ data.titles[1] }}</a>
    </div>
</div>

{% endblock %}

{% block mini_slide %}
{% for i in range(2, 6) %}
<div class="col-md-6 px-0">
    <div class="position-relative overflow-hidden" style="height: 250px;">
        <img class="img-fluid w-100 h-100" src="{{data.imgs[i]}}" style="object-fit: cover;" href="{{data.urls[i]}}">
        <div class="overlay">
            <div class="mb-2">
                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                    href="">{{ data.categories[i] }}</a>
                <a class="text-white" href=""><small>{{data.dates[i]}}</small></a>
            </div>
            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{{data.urls[i]}}"> {{data.titles[i]}}</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock%}

{% block recommended_news%}
{% for i in range(6, data.urls|length) %}
<div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
    <div style=" height: 110px; width: 155px;">
        <img class="img-fluid" src="{{data.imgs[i]}}"/>
    </div>
    
    <div
        class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0" style="height: 50px; width: auto;">
        <div class="mb-2">
            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                href="">{{ data.categories[i] }}</a>
            <a class="text-body" href=""><small>{{data.dates[i]}}</small></a>
        </div>
        <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{{data.urls[i]}}">{{data.titles[i]}}</a>
    </div>
</div>
{% endfor %}
{% endblock%}





